:root{
    box-sizing: border-box;
}

:root.light{
    --bgColor:#FFB433;
    --titleColor:white;
    --letterColor:black;
    --letterColorInverse: white;
    --modeShadow: 2px 3px 4px rgb(156, 152, 152);
    --cardBg: white;
    --mainBg: #FFF5E4;
    --patternBg: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

:root.dark{
    --bgColor:#3C3D37;
    --titleColor:#ECDFCC;
    --letterColor:#ECDFCC;
    --letterColorInverse: black;
    --modeShadow: 2px 3px 4px rgb(56, 52, 52);
    --mainBg: #697565;
    --cardBg: black;
    --patternBg: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: 380px 4fr;
}

.content{
    grid-column: 2 / 3;
    display: grid;
}

.bgMode{
    background-color: var(--bgColor);
}

.colorMode{
    color: var(--letterColor);
}

.bgCard{
    background-color: var(--cardBg);
}

header{
    grid-column: 2 / 3;
    background-color: black;
    display: grid;
    position: relative;
}

.search{
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-size: 35px;
    padding: 15px 45px;
}

.searchBar{
    justify-self: start;
    display: flex;
    align-items: center;
    gap: 15px;
}

.searchBar input{
    width: 800px;
    height: 40px;
    border-radius: 25px;
}

.notifs{
    display: grid;
    grid-template-columns: auto 120px auto auto;
    justify-self: end;
    align-items: center;
    list-style: none;
    font-family: "Inter Tight", sans-serif;
    gap: 10px;
}

.bellIcon img{
    width: 50px;
    justify-self: start;
}

.userIcon img{
    width: 70px;
    justify-self: center;
}

.userName p{
    justify-self: center;
    font-size: 25px;
    color: var(--titleColor);
}

.bellIcon a, .userIcon a, .userName{
    display: grid;
}

.userInfo{
    padding: 15px 45px;
    font-size: 35px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.userProfile{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
    gap: 15px;
    font-family: "Inter Tight", sans-serif;
    color: var(--titleColor);
}

.profilePic img{
    width: 120px;
}

.profileName span{
    font-weight: 600;
}

.profileBtns{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-self: end;
    align-items: center;
    gap: 15px;
}

.profileBtns button{
    width: 150px;
    border-radius: 5px;
    border: none;
    font-family: "Unbounded", sans-serif;
    font-weight: 400;
    font-size: 25px;
    padding: 10px;
}

.sideBar{
    padding: 15px;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 600px 400px;
    gap: 50px;
}

.logo{
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 10px;
    font-size: 45px;
    font-family: "Unbounded", sans-serif;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}

.navigation, .settings{
    font-size: 35px;
    font-family: "Unbounded", sans-serif;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: var(--letterColor);
}

a:visited:hover{
   color: var(--letterColorInverse)
}

.navigation{
    display: grid;
    grid-template-rows: 150px 400px;
    gap: 25px;
}

.navUi{
    display: grid;
    grid-template-rows: repeat(autofit, minmax(25px, 50px));
    padding-left: 10px;
    gap: 15px;
}

.home,.messages,.history,.profile,.tasks,.community,.settingsCog,.support,.privacy{
    display: flex;
    align-items: center;
    gap: 15px;
}

.settings{
    display: grid;
    grid-template-rows: repeat(3, minmax(25px, 50px));
    padding-left: 10px;
    gap: 15px;
}


.main{
    padding: 15px 35px;
    grid-column: 2 / 3;
    background-color: var(--mainBg);
    background-image: var(--patternBg);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 80px;
    grid-auto-rows: auto;
    gap: 10px;
    box-shadow: inset var(--modeShadow);
}

.titles{
    padding-left: 25px;
    grid-column: 1 / 3;
    display: grid;
    align-items: center;
}

.titles h1{
    font-size: 35px;
    font-family: "Unbounded", sans-serif;
}

.mainBoard{
    display: grid;
    gap: 10px;
    padding: 15px;
}

.pins{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
    gap: 30px;
}

.cardDesign{
    height: 250px;
    display: grid;
    grid-template-columns: 2% 1fr;
    border-radius: 15px;
    box-shadow: var(--modeShadow);
}

.cardPattern{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.cards{
    padding: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.cardContent{
    font-family: "Inter Tight", sans-serif;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.projectTitle{
    font-weight: 600;
    font-size: 25px;
}

.projectTitle p{
    margin: 0;
}

.projectContent{
    font-weight: 400;
    font-size: 18px;
}

.sideBoard{
    display: grid;
    grid-template-rows: auto auto;
    gap: 30px;
    padding: 15px;
}

.titless{
    display: grid;
    justify-content: center;
    align-items: center;
    writing-mode: sideways-lr;
    letter-spacing: 0.3em;
    text-align: center;
    font-size: 25px;
    border-radius: 15px;
    padding: 3px;
}

.announcements,.trending{
    font-family: "Unbounded", sans-serif;
    display: grid;
    border-radius: 15px;
    box-shadow: var(--modeShadow);
    grid-template-columns: 85px auto;
    padding: 10px;
}
