:root{
    box-sizing: border-box;
}

:root.light{
    --bgColor:#FFB433;
    --titleColor:white;
    --letterColor:black;
    --letterColorInverse: white;
    --modeShadow: 2px 3px 4px rgb(156, 152, 152);
    --cardBg: white;
    --mainBg: #FFF5E4;
    --patternBg: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

:root.dark{
    --bgColor:#3C3D37;
    --titleColor:#ECDFCC;
    --letterColor:#ECDFCC;
    --letterColorInverse: black;
    --modeShadow: 2px 3px 4px rgb(56, 52, 52);
    --mainBg: #697565;
    --cardBg: black;
    --patternBg: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.content{
    grid-column: 2 / 3;
    display: grid;
}

.bgMode{
    background-color: var(--bgColor);
}

.colorMode{
    color: var(--letterColor);
}

.bgCard{
    background-color: var(--cardBg);
}

header{
    grid-column: 2 / 3;
    background-color: black;
    display: grid;
}

#searchLens{
    width: 30px;
}

.search{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 15px 35px;
}

.searchBar{
    justify-self: start;
    display: flex;
    align-items: center;
    gap: 15px;
}

.searchBar input{
    width: 600px;
    height: 30px;
    border-radius: 25px;
}

.notifs{
    display: grid;
    grid-template-columns: auto 60px auto auto;
    justify-self: end;
    align-items: center;
    list-style: none;
    font-family: "Inter Tight", sans-serif;
    gap: 8px;
}

.notifBtn a, .userName{
    display: grid;
}

#bellIcon{
    justify-self: start;
    width: 35px;
}

#avatarsm{
    justify-self: center;
    width: 45px;
}

#modeBtn{
    justify-self: center;
    width: 36px;
}

.userName p{
    justify-self: center;
    font-size: 20px;
    color: var(--titleColor);
}

.userInfo{
    padding: 5px 35px 15px 35px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.userProfile{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
    gap: 15px;
    font-family: "Inter Tight", sans-serif;
    color: var(--titleColor);
}

#avatarxl{
    width: 80px;
}

.profileName span{
    font-weight: 700;
}

.profileName{
    font-size: 25px;
}

.profileBtns{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-self: end;
    align-items: center;
    gap: 15px;
}

.profileBtns button{
    width: 140px;
    border-radius: 10px;
    border: none;
    font-family: "Unbounded", sans-serif;
    font-weight: 400;
    font-size: 25px;
    padding: 5px;
}

.sideBar{
    grid-row: 1 / 3;
    padding: 10px 15px 10px 10px;
    display: grid;
    grid-auto-rows: max-content;
    gap: 60px;
}

.logo{
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 10px;
    font-size: 35px;
    font-family: "Unbounded", sans-serif;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}

.navigation, .settings{
    font-size: 30px;
    font-family: "Unbounded", sans-serif;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: var(--letterColor);
}

a:visited:hover{
   color: var(--letterColorInverse)
}

.navigation{
    display: grid;
    grid-row: auto auto;
    gap: 30px;
}

.navUi{
    display: grid;
    grid-template-rows: repeat(autofit, auto);
    gap: 15px;
    padding-left: 10px;
}

.home,.messages,.history,.profile,.tasks,.community,.settingsCog,.support,.privacy{
    display: grid;
    grid-template-columns: 45px auto;
    align-items: center;
    gap: 5px;
}

#stickyNote{
    width: 100px;
}

#house, #user, #clock,#gear,#question,#shield{
    width: 30px;
}

#txt, #clipBoard{
    width: 35px;
}

#group{
    width: 45px;
}

.navImg{
    display: grid;
    justify-content: center;
}

.settings{
    display: grid;
    grid-template-rows: repeat(autofit, auto);
    padding-left: 10px;
    gap: 15px;
}

.subBoard{
    min-height: 100vh;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 60px;
    grid-auto-rows: auto;
    background-color: var(--mainBg);
    background-image: var(--patternBg);
    padding: 15px 25px;
    gap: 15px;
    box-shadow: inset var(--modeShadow);
}

.enlarge:hover{
    transform: scale(1.2);
    transition: ease-in-out 0.4s;
}

.enlargeC:hover{
    transform: scale(1.03);
    transition: ease-in-out 0.5s;
}


.titles{
    grid-column: 1 / 3;
    display: grid;
    align-items: center;
    padding-bottom: 15px;
}

.titles p{
    font-family: "Unbounded", sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.pinBoard{
    grid-column: 1/2;
}

.squares{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    gap: 20px;
    padding: 10px;
}

.cardDesign{
    background-color: var(--cardBg);
    height: 200px;
    display: grid;
    grid-template-columns: 5px 1fr;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: var(--modeShadow);
    cursor: pointer;
}

.cardStripe{
    background-color: #FFB433;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card{
    display: grid;
    grid-template-rows: 25px 1fr 40px;
    gap: 10px;
    font-family: "Inter Tight", sans-serif;
    text-align: left;
    padding: 10px;
}

.projName{
    font-weight: 600;
    font-size: 20px;
}

.projContent{
    display: grid;
    align-items: start;
}

.card p{
    margin: 0;
    padding: 0;
}

.shareBtn{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 10px;
    justify-content: end;
    align-items: center;
    padding: 10px;
}

#star,#eye,#share{
    width: 25px;
}

.miscBoard{
    display: grid;
    grid-auto-rows:max-content;
    gap: 15px;
}

.notice, .trend{
    background-color: var(--cardBg);
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 10px;
    padding: 5px;
    box-shadow: var(--modeShadow);
}

.miscTitle{
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--bgColor);
    border-radius: 10px;
    color: var(--letterColor);
}

.miscContent{
    padding: 10px;
}

.miscTitle p{
    font-family: "Unbounded", sans-serif;
    font-size: 20px;
    font-weight: 700;
    writing-mode: sideways-lr;
}

.miscContent p{
    font-family: "Inter Tight", sans-serif;
    color: var(--letterColor);
}

.miscBoard p{
    margin: 0;
    padding: 0;
}

.miscContent ul{
    list-style: none;
    padding: 0;
}

/* .main{
    padding: 15px 35px;
    grid-column: 2 / 3;
    background-color: var(--mainBg);
    background-image: var(--patternBg);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 80px;
    grid-auto-rows: auto;
    gap: 10px;
    box-shadow: inset var(--modeShadow);
}

.mainBoard{
    display: grid;
    gap: 10px;
    padding: 15px;
}

.pins{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
    gap: 30px;
}

.cardDesign{
    height: 250px;
    display: grid;
    grid-template-columns: 2% 1fr;
    border-radius: 15px;
    box-shadow: var(--modeShadow);
}

.cardPattern{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.cards{
    padding: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.cardContent{
    font-family: "Inter Tight", sans-serif;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.projectTitle{
    font-weight: 600;
    font-size: 25px;
}

.projectTitle p{
    margin: 0;
}

.projectContent{
    font-weight: 400;
    font-size: 18px;
}

.sideBoard{
    display: grid;
    grid-template-rows: auto auto;
    gap: 30px;
    padding: 15px;
}

.titless{
    display: grid;
    justify-content: center;
    align-items: center;
    writing-mode: sideways-lr;
    letter-spacing: 0.3em;
    text-align: center;
    font-size: 25px;
    border-radius: 15px;
    padding: 3px;
}

.announcements,.trending{
    font-family: "Unbounded", sans-serif;
    display: grid;
    border-radius: 15px;
    box-shadow: var(--modeShadow);
    grid-template-columns: 85px auto;
    padding: 10px;
} */
