:root{
    box-sizing: border-box;
}

:root.light{
    --bgColor:#FFB433;
    --titleColor:white;
    --letterColor:black;
    --letterColorInverse: white;
    --modeShadow: 2px 3px 4px rgb(156, 152, 152);
    --cardBg: white;
    --mainBg: #FFF5E4;
    --patternBg: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    --logoTextNormal: black;
    --logoTextHover: white;
    --buttonTextcolor: #FFB433;
    --shareBtn: #FFB433;
    --profilePicBg:#ffc200;
    --profilePicShirt:#677079;
} 

:root.dark{
    --bgColor:#3C3D37;
    --titleColor:#ECDFCC;
    --letterColor:#ECDFCC;
    --letterColorInverse: black;
    --modeShadow: 2px 3px 4px rgb(56, 52, 52);
    --mainBg: #697565;
    --cardBg: black;
    --patternBg: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    --logoTextNormal: #ECDFCC;
    --logoTextHover: #ECDFCC;
    --buttonTextcolor: #ECDFCC;
    --shareBtn:#697565;
    --profilePicBg: #3C3D37;
    --profilePicShirt:black;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.content{
    grid-column: 2 / 3;
    display: grid;
}

.bgMode{
    background-color: var(--bgColor);
}

.colorMode{
    color: var(--letterColor);
}

.bgCard{
    background-color: var(--cardBg);
}

header{
    grid-column: 2 / 3;
    background-color: black;
    display: grid;
}

#searchLens{
    width: 30px;
}

.search{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 15px 35px;
}

.searchBar{
    justify-self: start;
    display: flex;
    align-items: center;
    gap: 15px;
}

.searchBar input{
    width: 600px;
    height: 30px;
    border-radius: 25px;
    box-sizing: border-box;
}

.searchBar input:focus{
    outline: none;
    padding-left: 10px;
    font-family: "Inter Tight", sans-serif;
    font-size: 16px;
}

.notifs{
    display: grid;
    grid-template-columns: auto 60px auto auto;
    justify-self: end;
    align-items: center;
    list-style: none;
    font-family: "Inter Tight", sans-serif;
    gap: 8px;
}

.notifBtn a, .userName{
    display: grid;
    transition: ease-in-out 0.4s;
}

#bellIcon{
    justify-self: start;
    width: 35px;
    stroke: var(--titleColor);
}

#bellIcon:hover{
    fill: var(--titleColor);
    stroke:black;
}

#avatarsm{
    justify-self: center;
    width: 45px;

    & #backDrop{
        fill: var(--profilePicBg);
    }
    & #hoodie{
        fill: var(--profilePicShirt);
    }
}

.notifBtnm{
    display: grid;
    justify-content: center;
}

#modeBtn{
    width: 36px;
    cursor: pointer;
    fill: var(--titleColor);
    stroke: var(--titleColor);
}

#modeBtn:hover{
    mask-image: linear-gradient(-75deg, rgba(255, 255, 255, 0.601) 40%, #ffff 50%, rgba(255, 255, 255, 0.601) 60%);
    mask-size: 200%;
    fill: var(--titleColor);
    stroke: var(--titleColor);
    animation: shine 1s infinite;
}

@keyframes shine{
    from {
        mask-position: 150%;
    }
    to{
        mask-position: -50%;
    }
}

.userName p{
    justify-self: center;
    font-size: 20px;
    color: var(--titleColor);
}

.userInfo{
    padding: 5px 35px 15px 35px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.userProfile{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
    gap: 15px;
    font-family: "Inter Tight", sans-serif;
    color: var(--titleColor);
}

#avatarxl{
    width: 80px;

    & #backDrop{
        fill: var(--profilePicBg);
    }
    & #hoodie{
        fill: var(--profilePicShirt);
    }
}

.profileName span{
    font-weight: 700;
}

.profileName{
    font-size: 25px;
}

.profileBtns{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-self: end;
    align-items: center;
    gap: 15px;
}

.profileBtns button{
    width: 140px;
    border-radius: 10px;
    border: solid 2px var(--bgColor);
    font-family: "Unbounded", sans-serif;
    font-weight: 400;
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
}

.profileBtns button:hover{
    border: solid 2px var(--logoTextHover);
    color: var(--letterColorInverse);
    transition: ease-in-out 0.2s;
}

.profileBtns button:active{
    border: solid 2px var(--buttonTextcolor);
    background-color: black;
    color: var(--buttonTextcolor);
    transition: none;
}

.sideBar{
    grid-row: 1 / 3;
    padding: 10px 15px 10px 10px;
    display: grid;
    grid-auto-rows: max-content;
    gap: 55px;
}

.logo{
    font-size: 35px;
    font-family: "Unbounded", sans-serif;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.2s;
    border-radius: 15px;
    position: relative;
    cursor: default;
}

.brandName{
    justify-content: start;
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 5px;
    color: var(--logoTextNormal);
    position: relative;
    
}

.mainLogo{
    display: grid;
    align-items: center;
}

#stickyNote{
    fill:  var(--logoTextNormal);
}

.brandName:hover{
    mask-image: linear-gradient(-75deg, rgba(255, 255, 255, 0.600) 40%, #ffffff 50%, rgba(255, 255, 255, 0.6) 60%);
    mask-size: 200%;
    animation: shine 2s infinite;
    color: var(--logoTextHover);
     
    & .mainLogo #stickyNote {
        fill: var(--logoTextHover);
    }
}

@keyframes shine{
    from {
        mask-position: 150%;
    }
    to{
        mask-position: -50%;
    }
}

.logo::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 95%;
    left: 0px;
    bottom:0;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.4s ease-out;
    border-radius: 10px;
}

.logo:hover::before{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.logo::before{
    transform-origin: bottom right;
}


.navigation, .settings{
    font-size: 30px;
    font-family: "Unbounded", sans-serif;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: var(--letterColor);
}

.navigation{
    display: grid;
    grid-row: auto auto;
    gap: 35px;
}

.navUi{
    display: grid;
    grid-template-rows: repeat(autofit, auto);
    gap: 15px;
    padding-left: 10px;
}

.home,.messages,.history,.profile,.tasks,.community,.settingsCog,.support,.privacy{
    display: grid;
    grid-template-columns: 45px auto;
    align-items: center;
    gap: 5px;
    transition: ease-in-out 0.3s;
}

#stickyNote{
    width: 100px;
}

#house, #user, #clock,#gear,#question,#shield{
    width: 30px;
}

.home,.history,.tasks{
    & .navImg{
        & svg{
            fill: var(--letterColor);
        }
    }
}

.profile{
    & .navImg{
        & svg {
            & #Dribbble-Light-Preview {
                fill: var(--letterColor);
            }
        }
    }
}

.messages,.settingsCog,.privacy{
    & .navImg{
        & svg{
           stroke: var(--letterColor);
        }
    }
}

.community,.support{
    & .navImg{
        & svg{
           & .strokePath{
            stroke: var(--letterColor);   
           }
           & .fillPath{
            fill: var(--letterColor);
           }
        }
    }
}

.home:hover,.history:hover,.profile:hover,.tasks:hover{

    & .navImg{
        & svg{
            fill: var(--letterColorInverse);
        }
    }

    & a:visited{
        color: var(--letterColorInverse);
     }
}

.profile:hover{
    & .navImg{
        & svg {
            & #Dribbble-Light-Preview {
                fill:var(--letterColorInverse);
            }
        }
    }
    & a:visited{
        color: var(--letterColorInverse);
     }
}

.messages:hover,.settingsCog:hover,.privacy:hover{
    & .navImg{
        & svg{
           stroke: var(--letterColorInverse);
        }
    }
    & a:visited{
        color: var(--letterColorInverse);
     }
}

.community:hover,.support:hover{
    & .navImg{
        & svg{
           & .strokePath{
            stroke:var(--letterColorInverse);
           }
           & .fillPath{
            fill: var(--letterColorInverse);
           }
        }
    }
    & a:visited{
        color: var(--letterColorInverse);
     }
}

#txt, #clipBoard{
    width: 35px;
}

#group{
    width: 45px;
}

.navImg{
    display: grid;
    justify-content: center;
    align-items: center;
}

.settings{
    display: grid;
    grid-template-rows: repeat(autofit, auto);
    padding-left: 10px;
    gap: 15px;
}

.subBoard{
    min-height: 100vh;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 60px;
    grid-auto-rows: auto;
    background-color: var(--mainBg);
    background-image: var(--patternBg);
    padding: 15px 25px;
    gap: 15px;
    box-shadow: inset var(--modeShadow);
}

.enlarge:hover{
    transform: scale(1.2);
}

.enlargeC:hover{
    transform: scale(1.03);
}

.enlargeS:hover{
    transform: scale(1.05);
}

.titles{
    grid-column: 1 / 3;
    display: grid;
    align-items: center;
    padding-left: 18px;
}

.titles p{
    font-family: "Unbounded", sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.pinBoard{
    grid-column: 1/2;
}

.squares{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    gap: 20px;
    padding: 0 10px;
}

.cardDesign{
    background-color: var(--cardBg);
    height: 200px;
    display: grid;
    grid-template-columns: 5px 1fr;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: var(--modeShadow);
    cursor: pointer;
    transition: ease-in-out 0.3s;
    color: var(--letterColor);
}

.cardStripe{
    background-color: var(--bgColor);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card{
    display: grid;
    grid-template-rows: 25px 1fr 40px;
    gap: 10px;
    font-family: "Inter Tight", sans-serif;
    text-align: left;
    padding: 10px;
}

.projName{
    font-weight: 600;
    font-size: 20px;
}

.projContent{
    display: grid;
    align-items: start;
}

.card p{
    margin: 0;
    padding: 0;
}

.cardBtn{
    transition: ease-in-out 0.4s;
}

.shareBtn{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 10px;
    justify-content: end;
    align-items: center;
    padding: 10px;
}

#star,#share{
    width: 25px;
    stroke: var(--letterColor);
}

#star:hover,#share:hover{
    stroke: var(--shareBtn);
}

#eye{
    width: 25px;
    fill: var(--letterColor);
}

#eye:hover{
    fill: var(--shareBtn);
}

.miscBoard{
    display: grid;
    grid-auto-rows:max-content;
    gap: 20px;
}

.notice, .trend{
    background-color: var(--cardBg);
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 10px;
    padding: 5px;
    box-shadow: var(--modeShadow);
}

.miscTitle{
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--bgColor);
    border-radius: 10px;
    color: var(--letterColor);
}

.miscContent{
    padding: 5px 10px;
}

.miscTitle p{
    font-family: "Unbounded", sans-serif;
    font-size: 20px;
    font-weight: 700;
    writing-mode: sideways-lr;
    letter-spacing: 0.24em;
    cursor: default;
}

.miscContent p{
    font-family: "Inter Tight", sans-serif;
    color: var(--letterColor);
}

.miscBoard p{
    margin: 0;
    padding: 0;
}

.miscContent ul{
    list-style: none;
    padding: 0;
    display: grid;
    gap: 15px;
}

.listItem{
    border-top: solid 1px var(--letterColor);
    display: grid;
    transition: ease-in-out 0.4s;
    cursor: pointer;
}

.listTitle{
    font-weight: 600;
    font-size: 18px;
    padding-top: 5px;
}

.listTop{
    border: none;
}